#!/usr/bin/env bash
# https://direnv.net/man/direnv-stdlib.1.html

# Minimum supported version of direnv.
direnv_version 2.33.0

# Log into 1Password.
printf "Loading secrets from %s...\n" "parman.1password.com"
eval "$(op signin --account parman.1password.com || true)"

# Auto-load .env file, including resolving 1Password secrets.
use_1password() {
    [[ -f ${1} ]] || return 0
    direnv_load op run --env-file "${1}" --no-masking -- direnv dump
}

use 1password .env

# Not loading correctly, so manually setting.
export AWS_DEFAULT_REGION=us-east-2
export AWS_REGION=us-east-2
export TERRAGRUNT_TFPATH=tofu

# Watch for changes and reload on next prompt.
watch_file .env .envrc

# Mandatory environment variables.
env_vars_required "AWS_DEFAULT_REGION" "AWS_REGION" "TERRAGRUNT_TFPATH"
